@import "src/common/components/ui-kit/core/colors.module";
@import "src/common/components/ui-kit/core/fonts.module";
@import "src/common/components/ui-kit/core/dimensions.module";

.topContainer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;

  padding: 5px 10px;
  border-radius: $bigBorderRadius;

  background-color: $lightPrimaryColor;
}

.text {
  font-style: normal;
  font-weight: $fontWeightSmall;
  font-size: $fontSizeSmall;
  line-height: 118%;

  text-align: center;

  color: #FFFFFF;
}