.commentTopContainer {
  display: flex;
  flex-direction: row;
}

.iconContainer {
  display: flex;
}

.commentProfileIcon {
  height: 30px;
  width: 30px;
  background-color: #D1D8DD;
  border-radius: 50%;
  display: inline-block;
}

.commentDataContainer {
  display: flex;
  flex-direction: column;

  margin-left: 10px;
}

.commentNickname {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;

  color: #000000;
}

.commentText {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 115%;

  color: #000000;

  margin-top: 3px;
}

.commentControlsContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-items: center;
  align-content: center;
  align-items: center;

  margin-top: 6px;
}

.commentLike {
  height: 15px;
  width: 15px;

  margin-right: 5px;

  background-image: url("../../../common/components/ui-kit/assets/like_icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.commentDislike {
  height: 15px;
  width: 15px;

  background-image: url("../../../common/components/ui-kit/assets/dislike_icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.commentReactionsCount {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;

  color: #ACAFB5;
}

.commentReactionTitle {
  margin-right: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;

  color: #ACAFB5;
}

