.commentTopContainer {
  display: flex;
  flex-direction: row;
}

.iconContainer {
  display: flex;
}

.commentProfileIcon {
  height: 30px;
  width: 30px;

  background-color: #D1D8DD;
  border-radius: 50%;

  cursor: pointer;
  display: inline-block;
}

.commentDataContainer {
  display: flex;
  flex-direction: column;

  margin-left: 10px;
}

.commentNickname {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;

  color: #000000;
  cursor: pointer;
}

.commentText {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 115%;

  color: #000000;

  margin-top: 3px;
}

.commentControlsContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-items: center;
  align-content: center;
  align-items: center;

  margin-top: 6px;
}

.commentLike {
  height: 17px;
  width: 15px;

  margin-right: 5px;

  background-image: url("../../../common/components/ui-kit/assets/like_icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  cursor: pointer;

  &:hover {
    background-image: url("../../../common/components/ui-kit/assets/like_active_icon.svg");
  }
  &[data-reaction-state='reacted'] {
    background-image: url("../../../common/components/ui-kit/assets/like_active_icon.svg");
  }
}

.commentDislike {
  height: 17px;
  width: 15px;

  margin-right: 5px;

  background-image: url("../../../common/components/ui-kit/assets/dislike_icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  cursor: pointer;

  &:hover {
    background-image: url("../../../common/components/ui-kit/assets/dislike_active_icon.svg");
  }
  &[data-reaction-state='reacted'] {
    background-image: url("../../../common/components/ui-kit/assets/dislike_active_icon.svg");
  }
}

.commentReactionsCount {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  cursor: pointer;

  color: #ACAFB5;

  margin-right: 3px;

  &[data-reaction-type='like'] {

    &[data-reaction-state='reacted'] {
      color: #6831FF;
    }

    &:hover {
      color: #6831FF;
    }
  }
  &[data-reaction-type='dislike'] {

    &[data-reaction-state='reacted'] {
      color: #AB2424;
    }

    &:hover {
      color: #AB2424;
    }
  }
}

.commentReactionTitle {
  margin-right: 15px;

  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  cursor: pointer;

  color: #ACAFB5;

  &[data-reaction-type='like'] {

    &[data-reaction-state='reacted'] {
      color: #6831FF;
    }

    &:hover {
      color: #6831FF;
    }
  }
  &[data-reaction-type='dislike'] {

    &[data-reaction-state='reacted'] {
      color: #AB2424;
    }

    &:hover {
      color: #AB2424;
    }
  }
}

