.container {
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.statusCode,
.statusName {
  font-size: 70px;
  line-height: 70px;
  font-style: normal;
  font-weight: 700;
}

.statusCode {
  color: #3F22A8;
}

.statusName {
  color: #000000;
}

.statusDescription {
  color: #898C95;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-top: 20px;
}