.globalContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  align-items: center;
}

.titleContainer {
  margin-top: 10%;
}

.linksContainer {
  margin-top: 15px;
}

.principlesContainer {
  margin-bottom: 10%;
}