.container {
  height: 100%;
  width: 100%;
}

.editor {
  height: 100%;
  width: 100%;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;

  letter-spacing: -0.025em;

  color: #000000;
}