@import "src/common/components/ui-kit/core/fonts.module";
@import "src/common/components/ui-kit/core/colors.module";

.commentTopContainer {
  display: flex;
  flex-direction: row;
}

.iconContainer {
  display: flex;
}

.commentProfileIcon {
  height: 30px;
  width: 30px;

  background-color: #D1D8DD;
  border-radius: 50%;

  cursor: pointer;
  display: inline-block;
}

.commentDataContainer {
  display: flex;
  flex-direction: column;

  min-width: 95%;

  margin-left: 10px;
}

.commentNickNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commentNickname {
  font-style: normal;
  font-weight: $fontWeightBig;
  font-size: 13px;
  line-height: 120%;

  color: #000000;
  cursor: pointer;
}

.commentLastModifiedDate {
  font-style: normal;
  font-weight: $fontWeightMedium;
  font-size: 9px;
  line-height: 120%;

  color: #D1D8DD;
}

.commentText {
  font-style: normal;
  font-weight: $fontWeightSmall;
  font-size: $fontSizeSmall;
  line-height: 115%;

  color: #000000;

  margin-top: 3px;
}

.commentControlsContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-items: center;
  align-content: center;
  align-items: center;

  margin-top: 6px;

  &[data-reaction-visibility='hidden'] {
    display: none;
  }
}

.commentLike {
  height: 17px;
  width: 15px;

  margin-right: 5px;

  background-image: url("../ui-kit/assets/like_icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  cursor: pointer;

  &:hover {
    background-image: url("../ui-kit/assets/like_active_icon.svg");
  }
  &:active {
    transform: scale(0.96);
  }
  &[data-reaction-state='reacted'] {
    background-image: url("../ui-kit/assets/like_active_icon.svg");
  }
  &[data-reaction-visibility='hidden'] {
    visibility: hidden;
  }
}

.commentDislike {
  height: 17px;
  width: 15px;

  margin-right: 5px;

  background-image: url("../ui-kit/assets/dislike_icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  cursor: pointer;

  &:hover {
    background-image: url("../ui-kit/assets/dislike_active_icon.svg");
  }
  &:active {
    transform: scale(0.96);
  }
  &[data-reaction-state='reacted'] {
    background-image: url("../ui-kit/assets/dislike_active_icon.svg");
  }
  &[data-reaction-visibility='hidden'] {
    visibility: hidden;
  }
}

.commentReactionsCount {
  font-style: normal;
  font-weight: $fontWeightBig;
  font-size: 12px;
  line-height: 120%;
  cursor: pointer;

  color: #ACAFB5;

  margin-right: 3px;

  &[data-reaction-type='like'] {

    &[data-reaction-state='reacted'] {
      color: $lightPrimaryColor;
    }

    &:hover {
      color: $lightPrimaryColor;
    }
  }
  &[data-reaction-type='dislike'] {

    &[data-reaction-state='reacted'] {
      color: $lightDangerColor
    }

    &:hover {
      color: $lightDangerColor
    }
  }
  &[data-reaction-visibility='hidden'] {
    visibility: hidden;
  }
}

.commentReactionTitle {
  margin-right: 15px;

  font-style: normal;
  font-weight: $fontWeightMedium;
  font-size: $fontSizeSmall;
  line-height: 120%;
  cursor: pointer;

  color: #ACAFB5;

  &[data-reaction-type='like'] {

    &[data-reaction-state='reacted'] {
      color: $lightPrimaryColor;
    }

    &:hover {
      color: $lightPrimaryColor;
    }
  }
  &[data-reaction-type='dislike'] {

    &[data-reaction-state='reacted'] {
      color: $lightDangerColor
    }

    &:hover {
      color: $lightDangerColor
    }
  }
  &[data-reaction-visibility='hidden'] {
    display: none;
  }
}