@import "src/common/components/ui-kit/core/colors.module";
@import "src/common/components/ui-kit/core/fonts.module";

.input {
  width: 100%;
  padding: 8px;

  border: 1px solid #ACAFB5;
  border-radius: 7px;

  color: $lightPrimaryColor;
  font-style: normal;
  font-weight: $fontWeightMedium;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: 1px solid $lightPrimaryColor;
    border-radius: 7px;
  }
}