.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;

  min-height: 75vh;

  margin: 50px 25%;
}

.tabsWrapper {
  width: 100%;
  margin-bottom: 35px;
}