.topContainer {
  display: flex;
  flex-direction: column;

  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;

  margin-top: 15%;
  margin-bottom: 17%;
}