$lightPrimaryColor: #6831FF;
$lightSecondaryColor: #F6F9FA;
$lightDangerColor: #AB2424;

$primaryFontColor: #000000;
$secondaryLightFontColor: #898C95;
$secondaryFontColor: #707780;
$secondaryDarkFontColor: #5A6069;
