$fontWeightBig: 700;
$fontWeightMedium: 500;
$fontWeightSmall: 400;

$fontSizeVeryBig: 25px;
$fontSizeBig: 20px;
$fontSizeMedium: 15px;
$fontSizePreMedium: 13px;
$fontSizeSmall: 10px;
$fontSizePreSmall: 8px