.topContainer {
  display: flex;
  flex-direction: column;

  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.label {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;

  text-align: center;

  color: #5A6069;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;

  text-align: center;

  color: #ACAFB5;

  margin-top: 20px;
  margin-bottom: 30px;
}

.emailInputWrapper {
  width: 50%;
}

.sendButtonWrapper {
  width: 50%;

  margin-top: 10px;
}

.logInContainer {
  display: flex;
  flex-direction: row;

  margin-top: 15px;
}

.logInTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;

  text-align: center;

  color: #ACAFB5;

  margin-right: 5px;
}

.logInLink {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;

  text-align: center;
  text-decoration-line: underline;

  color: #6831FF;

  cursor: pointer;
}