.topContainer {
  display: flex;
  flex-direction: column;

  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.label {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;

  text-align: center;

  color: #5A6069;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;

  text-align: center;

  color: #ACAFB5;

  margin-top: 20px;
  margin-bottom: 30px;
}

.backButtonWrapper {
  height: 60px;
  width: 220px;
}