.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  padding-top: 5px;
  padding-bottom: 5px;

  &[data-include-bottom-border='true'] {
    border-bottom: 1px solid #D1D8DD;
  }
  &[data-include-top-border='true'] {
    border-top: 1px solid #D1D8DD;
  }
  &[data-include-vertical-border='true'] {
    border-left: 1px solid #D1D8DD;
    border-right: 1px solid #D1D8DD;
  }
  &[data-background-color-white='true'] {
    background-color: white;
  }
}

.informationContainer {
  display: flex;
  flex-direction: column;
}

.itemTitle {
  margin-left: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;

  color: #5A6069;
}

.itemDescription {
  margin-left: 10px;
  margin-top: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;

  color: rgba(137, 140, 149, 0.7);
}

.buttonWrapper {
  margin-right: 10px;
}