.topContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  gap: 10px;
}

.sortByContainer {
  display: flex;
  flex-direction: row;

  padding: 15px;
}

.sortByLabel {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 115%;

  color: #898C95;

  margin-left: 5px;
}