.container {
  display: flex;
  flex-direction: column;

  &:focus div,
  &:active div,
  &:hover div {
    color: #6831FF;
  }
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 118%;

  letter-spacing: -0.025em;

  color: #596069;
}

.titleIcon {
  margin-left: 20px;
  height: 25px;
  width: 15px;

  &[data-icon-state='active'] {
    height: 40px;
    width: 25px;
  }
}

.description {
  margin-top: 15px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 118%;

  letter-spacing: -0.025em;

  color: #596069;
}

.bottomLine {
  margin-top: 45px;
  height: 1px;

  border-top: 1px solid #C8CACC;
}