.topContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 30px;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 20px;
}