.topContainer {
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: start;
  gap: 30px;

  width: 100%;

  padding: 30px;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  gap: 20px;

  width: 100%;
}