.topContainer {
  display: flex;
  flex-direction: row;
}

.postAuthorProfileIconContainer {
  display: flex;
}

.postAuthorIcon {
  height: 50px;
  width: 50px;

  background-color: #D1D8DD;
  border-radius: 50%;

  cursor: pointer;
  display: inline-block;
}

.postDataContainer {
  display: flex;
  flex-direction: column;

  margin-left: 10px;
  margin-right: 10px;
}

.postAuthorNicknameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.postAuthorNickname {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;

  color: #000000;

  cursor: pointer;
}

.postFollowAuthorButtonWrapper {
  display: flex;
}

.postText {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;

  color: #000000;

  cursor: pointer;

  margin-top: 10px;
  margin-bottom: 15px;
}

