.container {
  //width: min-content;
}

.container[data-state='is-valid']::after {
  height: 12px;
  width: 15px;

  position: relative;
  top: 2px;
  right: 22px;

  content: url('./assets/password_input_valid.svg');
}

.input {
  padding: 8px;

  border: 1px solid #ACAFB5;
  border-radius: 7px;

  color: #6831FF;
  font-style: normal;
  font-weight: 500;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: 1px solid #6831FF;
    border-radius: 7px;
  }
}

.input[data-state='is-invalid'] {
  border: 1px solid #EA4949;
}

.input[data-state='is-valid'] {
  color: #5BCF74;
  border: 1px solid #5BCF74;
}

.cancelIcon {

}