.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;

  &::after {
    height: 12px;
    width: 15px;
  }

  &[data-state='is-valid']::after {
    margin-left: -25px;
    margin-bottom: 2px;
    content: url('./assets/password_input_valid.svg');
  }

  &[data-state='is-invalid']::after {
    margin-left: -23px;
    margin-bottom: 5px;
    content: url('./assets/password_input_invalid.svg');
  }
}

.input {
  padding: 8px;
  width: 100%;
  height: 100%;

  border: 1px solid #ACAFB5;
  border-radius: 7px;

  color: #6831FF;
  font-style: normal;
  font-weight: 500;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: 1px solid #6831FF;
    border-radius: 7px;
  }

  &[data-state='is-invalid'] {
    width: calc(100% - 18px);
    color: #EA4949;
    border: 1px solid #EA4949;
  }

  &[data-state='is-valid'] {
    width: calc(100% - 18px);
    color: #5BCF74;
    border: 1px solid #5BCF74;
  }
}
