@import "src/common/components/ui-kit/core/colors.module";
@import "src/common/components/ui-kit/core/fonts.module";

.button[data-button-type='primary'] {
  padding: 5px 15px;

  color: #FFFFFF;
  font-style: normal;
  text-align: center;
  font-weight: $fontWeightBig;

  background: $lightPrimaryColor;
  border: 1px solid #3F22A8;
  border-radius: 6px;

  cursor: pointer;
  transition: 0.25s;

  &[data-width-type='100%'] {
    width: 100%;
  }
  &[data-height-type='100%'] {
    height: 100%;
  }

  &:hover {
    border-color: black;
    border-radius: 10px;
    color: #fff;
  }
  &:active {
    transform: scale(0.98);
  }

  &[data-button-state='disabled'] {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
  }
  &[data-button-state='loading'] {
    cursor: wait;

    transform: none;

    box-shadow: 0 -10px 20px -30px rgba(0, 0, 0, 0.1) inset,
    0 -20px 20px -30px rgba(0, 0, 0, 0.3) inset,
    0 -30px 20px -30px rgba(0, 0, 0, 0.5) inset;
    animation: LOADING-PRIMARY 1s infinite alternate;
  }
}

.button[data-button-type='secondary'] {
  padding: 5px;

  color: $secondaryDarkFontColor;
  font-style: normal;
  text-align: center;
  font-weight: $fontWeightMedium;

  background: $lightSecondaryColor;
  border: 1px solid #D1D8DD;
  border-radius: 6px;

  cursor: pointer;
  transition: 0.25s;

  &[data-width-type='100%'] {
    width: 100%;
  }
  &[data-height-type='100%'] {
    height: 100%;
  }

  &:hover {
    color: #5A6069;
    border-color: black;
    border-radius: 10px;
  }
  &:active {
    transform: scale(0.98);
  }

  &[data-button-state='disabled'] {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
  }
  &[data-button-state='loading'] {
    cursor: wait;

    transform: none;

    box-shadow: 0 -5px 10px -15px rgba(0, 0, 0, 0.1) inset,
    0 -10px 10px -15px rgba(0, 0, 0, 0.3) inset,
    0 -15px 10px -15px rgba(0, 0, 0, 0.5) inset;
    animation: LOADING-SECONDARY 1s infinite alternate;
  }
}

.button[data-button-type='danger'] {
  padding: 7px;

  color: white;
  font-style: normal;
  text-align: center;
  font-weight: $fontWeightMedium;

  background: $lightDangerColor;
  border: 2px solid #790404;
  border-radius: 6px;

  cursor: pointer;
  transition: 0.25s;

  &[data-width-type='100%'] {
    width: 100%;
  }
  &[data-height-type='100%'] {
    height: 100%;
  }

  &:hover {
    border-color: black;
    color: white;
    border-radius: 10px;
  }
  &:active {
    transform: scale(0.98);
  }

  &[data-button-state='disabled'] {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
  }
  &[data-button-state='loading'] {
    cursor: wait;

    transform: none;

    box-shadow: 0 -5px 10px -15px rgba(0, 0, 0, 0.1) inset,
    0 -10px 10px -15px rgba(0, 0, 0, 0.3) inset,
    0 -15px 10px -15px rgba(0, 0, 0, 0.5) inset;
    animation: LOADING-DANGER 1s infinite alternate;
  }
}

@keyframes LOADING-PRIMARY {
  50% {
    background: aqua;
    color: #596069;

    box-shadow: 0 -10px 20px -30px rgba(0, 0, 0, 0.5) inset,
    0 -20px 20px -30px rgba(0, 0, 0, 0.3) inset,
    0 -30px 20px -30px rgba(0, 0, 0, 0.1) inset;
  }
}

@keyframes LOADING-SECONDARY {
  50% {
    background: black;
    color: white;

    box-shadow: 0 -10px 20px -30px rgba(0, 0, 0, 0.5) inset,
    0 -20px 20px -30px rgba(0, 0, 0, 0.3) inset,
    0 -30px 20px -30px rgba(0, 0, 0, 0.1) inset;
  }
}

@keyframes LOADING-DANGER {
  50% {
    background: orangered;

    box-shadow: 0 -10px 20px -30px rgba(0, 0, 0, 0.5) inset,
    0 -20px 20px -30px rgba(0, 0, 0, 0.3) inset,
    0 -30px 20px -30px rgba(0, 0, 0, 0.1) inset;
  }
}