.button[data-type='primary'] {
  background: #6831FF;
  border: 1px solid #3F22A8;
  border-radius: 6px;
  color: #FFFFFF;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  transition: 0.25s;
  padding: 7px;

  &:hover {
    border-color: black;
    border-radius: 10px;
    color: #fff;
  }
  &:active {
    transform: scale(0.98);
  }
}

.button[data-type='secondary'] {
  background: #F6F9FA;
  border: 1px solid #D1D8DD;
  border-radius: 6px;
  color: #5A6069;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  transition: 0.25s;
  padding: 7px;

  &:hover {
    color: #5A6069;
    border-color: black;
    border-radius: 10px;
  }
  &:active {
    transform: scale(0.98);
  }
}

.button[data-type='danger'] {
  background: #AB2424;
  border: 2px solid #790404;
  border-radius: 6px;
  color: white;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s;
  padding: 7px;

  &:hover {
    border-color: black;
    color: white;
    border-radius: 10px;
  }
  &:active {
    transform: scale(0.98);
  }
}