.topContainer {
  display: flex;
  flex-direction: column;

  align-items: start;

  width: 100%;
  height: 80vh;
  gap: 30px;

  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.postTitleContainer {
  display: flex;
  flex-direction: column;

  width: 60%;

  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: start;

  gap: 15px;
}

.postTitleLabel {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;

  text-align: center;

  color: #5A6069;
}

.postTextContainer {
  display: flex;
  flex-direction: column;

  width: 60%;

  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: start;

  gap: 15px;
}

.postTextLabel {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;

  text-align: center;

  color: #5A6069;
}

.postEditControlsContainer {
  display: flex;
  flex-direction: row;
  width: 60%;

  justify-items: center;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;

  gap: 10px;
}