.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 118%;

  letter-spacing: -0.025em;

  color: #5A6069;

  width: 100%;
}

.description {
  margin-top: 15px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 118%;

  letter-spacing: -0.025em;

  color: rgba(137, 140, 149, 0.7);

  width: 100%;
}

.input {
  margin-top: 15px;

  width: 100%;
}