@import "src/common/components/ui-kit/core/colors.module";
@import "src/common/components/ui-kit/core/fonts.module";
@import "src/common/components/ui-kit/core/dimensions.module";

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-width: 200px;

  border-radius: 5px;
  border: 1px solid white;
  background-color: white;

  cursor: pointer;

  &:hover {
    border-radius: $bigBorderRadius;
    border: 1px solid #D1D8DD;
  }
  &:active {
    transform: scale(0.98);
  }
  &[data-control-state='selected'] {
    border: 1px solid $lightPrimaryColor;
  }
}

.informationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: $defaultGap;

  margin: 10px;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.label {
  font-style: normal;
  font-weight: $fontWeightMedium;
  font-size: $fontSizeMedium;
  line-height: 115%;

  color: $secondaryLightFontColor;
}

.sortTypeContainer {
  display: flex;
}

.sortTypeIcon {
  width: 10px;
  height: 10px;

  margin: 5px;

  transform: rotate(90deg);

  &[data-sort-type='desc'] {
    transform: rotate(-90deg);
  }
}