.topContainer {
  display: flex;
  flex-direction: row;

  border-top: 1px solid #D1D8DD;
  border-bottom: 1px solid #D1D8DD;
}

.postLike {

}

.postDislike {

}

.postComment {

}

.postReactionCount {

}

.postReactionTitle {

}