.topContainer {
  display: flex;
  flex-direction: column;

  align-content: center;
  align-items: start;
  justify-items: center;
  justify-content: center;

  gap: 20px;
}

.postTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 115%;

  color: #000000;
}

.postText {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 115%;

  color: #000000;
}